.Done {
  background-color: green;

  transition: 0.3s linear;
  opacity: 0;
  width: 0px;
}

.Display {
  opacity: 1;
  width: 50px;
}

/* .Done p {
  transition: 0.3s linear;
  opacity: 0;
  width: 0px;
}

.Display p {
  opacity: 1;
  width: auto;
} */
